
h1
{
  color:#ff0000;
}
h2
{
  color: black;
}
button
{
  color:rgb(199, 14, 97);
  background-color:black;
}
h3
{
  color: yellow;
}
h4
{
  color: red;
}
p
{
  color:black;
  text-align:center;
  
}
section
{
 background-color:grey;
}
.myclass
{
  colour:green;
}
footer
{
  color:black
    backround-color:yellow;
}
#box
{
  color:yellow;
    background-color:black;
  text-align:center;
  
}

#rt
{
  color:pink;
  text-align:center;
  }

  
