h1
{
  color:red;
}
h2
{
  color: pink;
}
button
{
  color:yellow;
  background-color:black;
}
h3
{
  color: yellow;
}
h4
{
  color: red;
}
p
{
  color:green;
}
section
{
  color:rgb(255,o,o);
 background-color:black;
}
.myclass
{
  colour:magenta;
}
